/*ADD CAT*/
.add-cat-page #detail-page .section-detail label{ display: block; padding-bottom: 10px; font-family: 'Roboto Medium'; font-weight: normal;}
.add-cat-page #detail-page .section-detail input[type="text"],
.add-cat-page #detail-page .section-detail input[type="password"],
.add-cat-page #detail-page .section-detail input[type="number"]{
    display: block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 35%;
    margin-bottom: 15px;
}
.add-cat-page #detail-page .section-detail textarea{
    display: block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 50%;
    height: 150px;
    margin-bottom: 15px;
}
.add-cat-page #detail-page .section-detail select{
    display: block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.add-cat-page #detail-page .section-detail button{
    display: block;
    border: none;
    outline: none;
    background: #4fa327;
    color: #fff;
    padding: 8px 20px;
    margin-bottom: 50px;
}
.add-cat-page #detail-page .section-detail button:hover{ background: #3a7d19;}
#btn-upload-thumb{ font-size: 13px; padding: 0px 10px; display: inline-block;}
#uploadFile{ margin-bottom: 15px;}
#uploadFile img{ margin-top: 15px; width: 150px; height: 150px; overflow: hidden; border: 1px solid #ddd;}

/*ADD ITEMS*/
.add-item-page #detail-page .section-detail #static-field,
.add-item-page #detail-page .section-detail #dynamic-field{
    display: block;
    margin-bottom: 20px;
}

.add-item-page #detail-page .section-detail label{
    font-family: 'Roboto Medium';
    font-weight: normal;
}

.add-item-page #detail-page .section-detail input[type='text']{
    width: 250px;
    margin: 0px 20px;
    padding: 5px 10px;
    border: 1px solid #ddd;
}

.add-item-page #detail-page .section-detail #submit-btn,
.add-item-page #detail-page .section-detail #dynamic-field #add-btn,
.add-item-page #detail-page .section-detail #dynamic-field .delete-btn{
    background: #4fa327;
    color: #FFFFFF;
    padding: 9px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.add-item-page #detail-page .section-detail #dynamic-field #add-btn{
    background-color: #3498db;
    padding: 5px 20px;
    width: 80px;
}

.add-item-page #detail-page .section-detail #dynamic-field .delete-btn{
    background-color: #e74c3c;
    padding: 5px 20px;
    width: 80px;
}

.add-item-page #detail-page .section-detail #submit-btn:hover{
    background: #4b9624
}

.add-item-page #detail-page .section-detail #dynamic-field #add-btn:hover{
    background-color: #328ac3;
}

.add-item-page #detail-page .section-detail #dynamic-field .delete-btn:hover{
    background-color: #ca4434;
    padding: 5px 20px;
    width: 80px;
}

.add-item-page #detail-page .section-detail #dynamic-field div[id^="item"]{
    margin-bottom: 20px;
}